@media screen, projection {
    body{font-family: "Open Sans", Helvetica, Arial, sans-serif;font-size: 16px; line-height: 26px;}
    h1{font-family: "Open Sans", Helvetica, Arial, sans-serif;font-weight: 200;}
    h2{font-family: "Open Sans", Helvetica, Arial, sans-serif;font-weight: 700; font-size: 280%; line-height: 56px; margin-top: 70px;}
    h3{font-family: "Open Sans", Helvetica, Arial, sans-serif;font-weight: 700; font-size: 200%; line-height: 46px;}
    .break{height:1px; font-size:1px; line-height:1px; clear:both; overflow:hidden; visibility:hidden; display:block; margin:0 !important; padding:0 !important; width:100%;}
    ul{margin-top: 5px;}

    li a, li a:visited{color: red; text-decoration: underline;}

    .green{color: #3F9D4A;}
    .red{color: #BD0516;}

    .col-h-l, .col-h-r {
        float: left;
        width: 48%;
    }

    .col-h-r {
        float: right;
    }

    .product-img{ text-align: center;padding: 0px 20px 20px 20px; float: right; width: 320px;}
    .product-img img{width: 290px;}
    .box-80 {width: 80%; margin: 0px auto; margin-top: 30px;}


    .box-80 .header-g{background-color: #3F9D4A; padding: 5px; color: white; font-weight: 900; font-size: 120%;}
    .box-80 .header-r{background-color: #BD0516; padding: 5px; color: white; font-weight: 900; font-size: 120%;}
    .header {font-weight: 900; font-size: 120%;}
    .yellow{background-color: #FFFAC8; border: 1px solid #DBD6A5; padding: 10px; margin-bottom: 20px; float: left; width: 320px !important; }

    .btn{display: block; max-width: 450px; background: #3F9D4A; border: none; color: #FFF; padding: 7px 20px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        line-height: 1.2; cursor: pointer; margin: 0px auto !important; text-align: center; margin-top: 40px !important; margin-bottom: 50px !important; font-size: 25px; font-weight: 700;}
}


@media only screen and (max-width: 700px) {

    h2{font-size: 220%; line-height: 46px;}
    h3{font-size: 160%; line-height: 40px;}

    .box-80{width: 100%; float: none;}
    .product-img{ margin: 0px auto !important; text-align: center; float: none;}
    .btn{font-size: 1.2em;

        padding: 5px 10px;

        max-width: 290px;}


}