#contactdiv{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
}


.img {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.sede-pozadi {
    background-color: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 100%;
    opacity: 0.6;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}




@media screen, projection {
    #popupcontent {
        width: 550px;
        margin: 0px;
        background-color: white;
        opacity: 1 !important;
        position: relative;
        left: 50%;
        top: 300px;
        margin-left: -210px;
        margin-top: -255px;
        z-index: 102;
        padding: 10px 10px 20px 20px;

    }

}

@media only screen and (max-width: 960px) {

    #popupcontent {
        width: 90%;
        margin: 0px auto;
        background-color: white;
        opacity: 1 !important;
        position: relative;
        top: 100px;
        left: 0px;
        1margin-left: -210px;
        1margin-top: -255px;
        z-index: 102;
        padding: 10px 10px 20px 20px;

    }

}