
# Use Mod_deflate to compress static files
<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css|ico|txt|htm|html|php)$">
	SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

# Speed up caching
FileETag MTime Size

# Expires
 <IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 366 days"
	#ExpiresDefault "access plus 300 seconds"

	# Future Expires Headers
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
	ExpiresDefault A2592000
	</FilesMatch>
 </IfModule>



RewriteEngine On



#presmerovani z verze bez lomitka na verzi s lomitkem na konci.
RewriteCond %{REQUEST_URI} !\.[[:alnum:]]+$
RewriteRule ^(.+[^/])$ /$1/ [R=301,L]

#bez www s https
RewriteCond %{HTTP_HOST} !^www [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

#bez www
RewriteCond %{HTTP_HOST} !^www [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

#https
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{REQUEST_URI} (.*)/2017/(.+)
#RewriteRule ^(.*)$ http://%{HTTP_HOST}/2017/ [R=301,L]

#RewriteCond %{REQUEST_URI} (.*)/2016/(.+)
#RewriteRule ^(.*)$ http://%{HTTP_HOST}/2016/ [R=301,L]

#RewriteCond %{REQUEST_URI} (.*)/2015/(.+)
#RewriteRule ^(.*)$ http://%{HTTP_HOST}/2017/ [R=301,L]

